src/main/app/munit-order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <ws:consumer-config name="Web_Service_Consumer" service="OrderServiceService" port="OrderServicePort" serviceAddress="http://training-u.cloudhub.io/advanced/orders" wsdlLocation="http://training-u.cloudhub.io/advanced/orders?wsdl" doc:name="Web Service Consumer"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="retrieveOrders">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/orders" doc:name="HTTP"/>
        <set-variable variableName="interval" value="#[message.inboundProperties.'http.query.params'.timeFrame]" doc:name="Variable: Interval"/>
        <dw:transform-message doc:name="pass DataRange">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#provisionOrder: {
		dateRange: flowVars.interval as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="provisionOrder" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="XML to JAVA">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#provisionOrderResponse.*return]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="test" initialState="stopped">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="10000"/>
            <logger level="INFO" doc:name="Logger"/>
        </poll>
        <set-payload value="#[{1,1,1,'ALL'}]" doc:name="Set Payload"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="processOrders">
        <set-variable variableName="orders" value="#[payload]" doc:name="Variable:Store orders"/>
        <set-payload value="#[{'international': java.util.Map&lt;String,String&gt;[], 'domestic': java.util.Map&lt;String,String&gt;[]}]" doc:name="Set Payload:Set Order Schema"/>
        <dw:transform-message doc:name="Populate international and domestickey contents">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---

{
    international: flowVars.'orders' filter $.'location' == 'international',
    domestic: flowVars.'orders' filter $.'location' == 'domestic'
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
